<html>

<style>
  input, label,button
   {
            width: 40%;
       }
    
</style>

<%= include partials/header.ejs %>


 <body>
  <center><u><h1>Events</h1></u><center></br></br>
    <div class = "col-sm-4">
        <center><h2> New Event </h2></center></br>
        <form class="form"  action="/events" method="post">              
            <div class="form-group">
                <LABEL>Name: </LABEL>
                <input type="text" name="name" id="name"><br>
                <LABEL>Description: </LABEL>
                <input type="text" name="description" id="description"><br>
                <LABEL>Time: </LABEL>
                <input type="text" name="time" id="time"><br>
                <LABEL>Date: </LABEL>
                <input type="text" name="date" id="date"><br>
                <LABEL>Location: </LABEL>
                <input type="text" name="location" id="location"><br>
                <LABEL>Contact Phone: </LABEL>
                <input type="text" name="phone" id="phone"><br>
                <LABEL>Contact Email: </LABEL>
                <input type="text" name="email" id="email"><br>

            </div>
            <br><br>
            <button type="submit" class="btn btn-success">Create</button>
            
        </form>
    </div>

    <aside>
        <h2>Posted Events</h2>
            <div class = "events">
                <table>
                    <% for(var i=0; i < events.length; i++) { %>
                       <tr>
                            <td>Name: <%= events[i].Name %></td>
                       </tr>

                       <tr>
                            <td>Description: <%= events[i].Description %></td>
                       </tr>

                       <tr>
                            <td>Time: <%= events[i].Time %></td>
                       </tr>

                       <tr>
                            <td>Date: <%= events[i].Date %></td>
                       </tr>

                       <tr>
                            <td>Location: <%= events[i].Location %></td>
                       </tr>

                       <tr>
                            <td>Contact Phone: <%= events[i].Phone %></td>
                       </tr>

                       <tr>
                            <td>Contact Email: <%= events[i].Email %><br><br></td>
                       </tr>                      


                    <% } %>
                
                </table>

            </div>
    </aside>


  </body>
</html>
