<html>

<style>
  input, label,button,textarea {
            width: 50%;
        }
</style>


<%= include partials/header.ejs %>

 <body>
  <center><u><h1>Universities</h1></u><center></br></br>
    <div class = "col-sm-4">
      <center><h2> New University </h2></center></br>
        <form class="form"  action="/universities" method="post">              
            <div class="form-group">
                <LABEL>University Name: </LABEL>
                <input type="text" name="name" id="name"><br>
                <LABEL>Location: </LABEL>
                <input type="text" name="location" id="location"><br>
                <LABEL>Description: </LABEL>
                <input type="text" name="description" id="description"> </input><br>
                <LABEL>Student Population: </LABEL>
                <input type="text" name="population" id="population"><br>

            </div>
            <br><br>
            <button type="submit" class="btn btn-success">Create</button>
            
        </form>
    </div>

    <aside>
        <h2>Posted Universities</h2>
            <div class = "universities">
                <table>
                    <% for(var i=0; i < unis.length; i++) { %>
                       <tr>
                            <td>Name: <%= unis[i].University_Name %></td>
                       </tr>
                       <tr>
                            <td>Location: <%= unis[i].Location %></td>
                       </tr>
                       <tr>
                            <td>Description: <%= unis[i].Description %></td>
                       </tr>
                       <tr>
                            <td>Student Population: <%= unis[i].Student_Population %><br><br></td>
                       </tr>
                    <% } %>
                </table>

            </div>
    </aside>
  </body>
</html>
